body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.Page {
  padding: 20px;  
}

.NavBar {
  display: flex;
  justify-content: flex-end;
  background-color: teal;
  color: white;
}

.NavBar > * {
  padding: 10px;
}

.NavBar a {
  /* width: 100%; */
  color: inherit;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  transition: background-color 250ms 0s, color 250ms 0s;
}

.NavBar a.active {
  background-color: whitesmoke;
  color: teal;
}

.NavBar a:hover {
  background-color: slategray;
  color: white;
}

.FormErrors {
  color: red;
  padding-left: 1.2em;
  margin: 0;
}
